header{
	background-color: #0B3861;
	height: 130px;
	margin-left: -8px;
  margin-right: -7px;
  margin-top: -8px;

}

img.header {
  float: left; 
  width:15%;
   height:100;
   margin-top: 5px;
   margin-bottom: 5px;
   margin-left:10px; 
   margin-right:10px;
}


img.registrar {
  width:300px;
  height: 200px;
  position: fixed;
  margin-top: 300px;
  margin-left: 150px;
  border: 5px solid #a1a1a1;
  margin: 10px;
  padding: 5px;
  background: grey;
}


div.head {
  font-family: courier;
  color: white;
  margin-left: 300px;
  font-size: 50px;
  top: 30%;
  position: relative;
  width: 380px;
}

h5.footer {
  font-family: courier;
  color: #0080FF;
  font-size: 15px;
  margin-bottom: 40px;
  margin-left: 150px;
}

footer{
	background-color: #0B3861;
	height: 120px;
  margin-top: 100px;
  margin-right: -7px;
  margin-left: -8px;
  margin-bottom: 2px;
  position: relative;
}

ul.header { 
  list-style-type: none; 
  margin-left: 800px;
  margin-top: -35px;
}

li.header { 
  font-weight: bold;
  color: white;
  float: left; 
  margin-right: -5px; 
  font-family: courier;
  padding: 0 10px; 
}

ul.clases { 
  list-style-type: none;
  float: center;
  margin-left: 150px;
  margin-top: 60px;
}

li.clases { 
  font-weight: 100;
  color: black;
  float: center; 
  margin-right: -5px; 
  font-family: courier;
  padding: 0 10px; 
  display: inline;

}


div.bodyClass {
  font-family: courier;
  color: grey;
  position: relative;
  display: inline-block;
}

img.bodyImage {
  float: center;
  width: 200px;
  height: 200px;
}

div.rounded {
    width: 220px;
}

div.registrarse {
    width: 500px;
}


h1.clase {
  font-family: courier;
  font-weight: 100;
  color: grey;
}

h1.precio {
  font-family: courier;
  font-weight: 100;
  color: grey;
  text-align: center;
}


iframe {
 width:550px;
 height:200px;
}


div.register{
  color: grey;
  font-family: courier;
  display: inline-block;
  width: 300px;
  height: 250px;
  margin-right: 200px;
  font-size: 15;
  font-weight: 100;
}

select.circle{
   border: 1px solid #a1a1a1;
  border-radius: 5px;
  height: 30px;
  color: grey;
  width: 100px;
}

#register {
  border: 1px solid #a1a1a1;
  border-radius: 5px;
  height: 30px;
  width: 300px;
}

#registerComment {
  border: 1px solid #a1a1a1;
  border-radius: 5px;
  height: 65px;
  width: 300px;
}

#botonRegistrar {
    border: 1px solid #a1a1a1;
  border-radius: 5px;
  color: white;
  width: 150px;
  height: 30px;
  background-color: grey;
}



#TotalesTabla {
  text-align: right;
}


table{
  margin-left: 360px;
  margin-top: 70px;
  border: 1px solid #a1a1a1;
    border-radius: 10px;
    border-spacing: 0px;
    width: 500px;
    height: 300px;
    color: grey;

}

th{
border: 1px solid #a1a1a1;
background: -webkit-linear-gradient(#0B173B, grey);
color: white;
border: none;

}
th.topLeft{
  border-top-left-radius:  10px;

}
th.topRight{
  border-top-right-radius:  10px;


}
td{
  border: 1px solid #a1a1a1;
  text-transform: capitalize;
  color: grey;
}

td.low{
  text-align: right;
}

td.low1{
  text-align: center;
  background: white;
}

h1.mainTable{
    font-weight: bold;
    text-transform: capitalize;
    font-size: 18px;
    font-family: courier;

}
td.bottomLeft{
  border-bottom-left-radius:  10px;
  font-weight: bold;
  text-transform: capitalize;
    
    font-family: courier;
text-align: right;

}
td.bottomRight{
  border-bottom-right-radius:  10px;
  font-weight: bold;


}

td.subtotal {
  background: white;
  color: grey;
  text-align: right;
}
 
#miTabla tr:nth-child(odd) {
  
   background-color: lightgrey;
   color:#FFF;
}

#miTabla tr:nth-child(even) {
    background-color: white;
   color:#777;
}




